/* styles.css */

/* Style for h1 and title */
h1, .title {
    color: #102C57; /* Adjust color as needed */
    font-size: 2.5rem; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
    margin-bottom: 20px; /* Adjust margin as needed */
  }
  
  /* Positioning the form on the middle right */
  section {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
  }
  
  /* Image component on the middle left */
  .image-container {
    position: absolute;
    top: 55%;
    left: 10%;
    transform: translateY(-50%);
  }
  
  /* Adjust image size and styling as needed */
  .image-container img {
    max-width: 60%; /* Adjust image width as needed */
    height: auto;
  }
  
/* Set background color for the left side */
.content-container {
    background-color: #e6ebe5;
    height: 100vh; /* Adjust height as needed */
    width: 55%; /* Adjust width as needed */
    padding: 20px; /* Adjust padding as needed */
    box-sizing: border-box; /* Ensure padding is included in width */
}
.leftside {
    background-color: #e6ebe5;
}